.container {
  background-image: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1677668803/posua/bg-artists_tpba1w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  padding-top: 5vw;
  .para {
    width: 72rem;
    // height: 15rem;
    margin: auto;
    margin-top: 3rem;

    font-family: var(--posua-font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 36px;
    text-align: center;

    color: #161515;
  }

  .flowers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .phol_left {
      // height: 12rem;
      animation: phoolLeftAnime ease-in-out 6s 0s infinite;
      animation-direction: alternate-reverse;
    }
    .phol_right {
      // height: 12rem;
      animation: phoolRightAnime ease-in-out 6s 0s infinite;
      animation-direction: alternate-reverse;
    }
    @keyframes phoolLeftAnime {
      to {
        transform: scale(1.4) translateX(180px);
      }
    }

    @keyframes phoolRightAnime {
      to {
        transform: scale(1.4) translateX(-180px);
      }
    }
  }

  .faces {
    .face_left {
      height: 1rem;
      width: 18rem;

      img {
        height: 28rem;
        width: 20rem;

        position: absolute;
        left: 0;
        top: 53rem;
      }
    }
    .face_right {
      img {
        height: 28rem;
        width: 20rem;

        position: absolute;
        right: 0;
        top: 53rem;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    .para {
      width: 60%;
      font-size: 3vmin;
    }

    .faces {
      display: none;
    }
  }
}

@media screen and (max-width: 660px) {
  .container {
    padding-top: 18vw;
  }
}
