.artists,
.artistdetail {
  background: url("../../Assets/Artists/bg-artists.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.artistdetail {
  width: 80%;
  flex: none;
  order: 1;
  margin: 0 auto !important;
  padding-top: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid;
  border-image-source: linear-gradient(
    91.92deg,
    #732b0d 0.1%,
    #a4471b 49.06%,
    #93560f 100.1%
  );
  border-image-slice: 1;
  border-radius: 30px !important;
  padding-bottom: 5vw !important;
  h1 {
    text-align: center;
    font-size: 5vw;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    background: linear-gradient(91.92deg, #7a2400 0.1%, #ebb02a 100.1%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

.imgcross {
  width: 40%;
  pointer-events: none;
  user-select: none;
  object-fit: contain;
}

.aboutbha {
  padding: 2vw 3.5vw;
  h3 {
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    font-size: 1.6vw;
    line-height: 1.6;
  }
}

// .modlend{
//   height: 5vw;
//   width: 10%;
//   background-color: transparent;
//   img{
//     width: 100%;
//     height: 100%;
//   }
// }

.btnleft {
  margin-left: 2vw;
  margin-right: auto;
  background: transparent;
  border: none;
  cursor: pointer;
}

.artistsmain {
  display: flex;
  justify-content: center;
  padding-top: 7vw;
  padding-bottom: 7vw;
  text-align: center;
  user-select: none;
}

.titleholderartist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex: none;
  order: 1;
}

.animateposua {
  position: relative;
  width: 18%;
  flex: none;
  order: 1;
  user-select: none;
  pointer-events: none;
}

.redbg {
  position: absolute;
  top: 0;
  left: 5%;
  width: 20%;
  height: 100%;
  img {
    width: 105%;
    height: 80%;
    transform: scaleX(1.5);
    animation-name: animatebgred;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
}

.tabla {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 7%;
  width: 17%;
  height: 100%;
  img {
    width: 110%;
    height: 80%;
  }
  animation-name: animatetabla;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.gmcha {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 30%;
  width: 45%;
  transform: scaleX(-1);
  height: 100%;
  img {
    width: 100%;
    height: 80%;
    animation-name: animategamcha;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
}

.flute {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 40%;
  left: 13%;
  transform: scaleX(-1);
  width: 25%;
  height: 100%;
  img {
    width: 100%;
    height: 80%;
    animation-name: animateflute;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
  }
}

@keyframes animatebgred {
  from {
    transform: scaleX(1.5);
  }

  to {
    transform: scaleX(1.8);
  }
}

@keyframes animatetabla {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-15deg);
  }
}

@keyframes animategamcha {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(10deg);
  }
}

@keyframes animateflute {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(15deg);
  }
}

#right {
  transform: rotateY(180deg);
}

.modell {
  background: url("../../Assets/Artists/bg-artists.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 2;
  margin: 0 auto;
  height: 80%;
}

.artismainh1 {
  margin: 0;
  padding: 0;
  font-size: 5.2vw;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  background-image: linear-gradient(91.92deg, #7a2400 0.1%, #ebb02a 100.1%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: textcolorchange ease-in-out 2.5s 0s infinite;
  animation-direction: alternate-reverse;
}

@keyframes textcolorchange {
  to {
    background-image: linear-gradient(#ebb02a 10.1%, 31.92deg);
  }
}

.indicard {
  cursor: pointer;
  width: 40%;
  height: 42vw;
  // background: rgba(242, 238, 227, 1);
  border-radius: 0.225rem;
  flex: none;
  order: 1;
  position: relative;
}

.topcardimg {
  position: absolute;
  transform: scaleX(1.1);
  top: 0;
  width: 100%;
  height: 10%;
  transition: 0.25s ease-in-out;
}

.leftcardimg {
  position: absolute;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 10%;
  transition: 0.25s ease-in-out;
  transform: scaleY(1.1);
}

.rightcardimg {
  position: absolute;
  right: 0;
  z-index: 3;
  height: 100%;
  transition: 0.25s ease-in-out;
  width: 10%;
  transform: scaleY(1.1);
}

.artistpic {
  position: absolute;
  top: 10%;
  left: 7%;
  right: 7%;
  // bottom: 12%;
  width: 80%;
  display: block;
  margin: 0 auto;
  transition: 0.25s ease-in-out;
  height: 80%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 70.1%, #000000 100%),
    url(1620542093122684-0.jpg);
  border-top-right-radius: 3vw;
  border-top-left-radius: 3vw;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0rem;
}

.artistdetails {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 60%;
  padding-left: 15%;
}

.artistname {
  font-size: 2.5vw;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.artistwork {
  margin-top: 1vw;
  h3 {
    font-size: 2.2vw;
    font-family: "Philosopher", sans-serif;
    font-weight: 500;
    color: whitesmoke;
  }
}

.indicard:hover .topcardimg {
  top: -2.5%;
}

.indicard:hover .leftcardimg {
  left: -2.5%;
}

.indicard:hover .rightcardimg {
  right: -2.5%;
}

.indicard:hover .artistpic {
  transform: scale(1.05);
}

.indicardpast:hover .btmartist {
  transform: scale(1.05);
}

.allupcomingcard {
  width: 85%;
  margin: 4vw auto 12vw auto;
  display: flex;
  justify-content: space-between;
}

.flowerholder {
  position: relative;
  overflow: hidden;
  // display: flex;
  // justify-content: space-between;
  // width: 100%;
}

.leftflower {
  width: 45%;
  object-fit: contain;
  animation: leftflwr ease-in-out 3s 0s infinite;
  animation-direction: alternate-reverse;
}

.rightflower {
  position: absolute;
  right: 0;
  width: 45%;
  object-fit: contain;
  animation: phoolRightAnime ease-in-out 3s 0s infinite;
  animation-direction: alternate-reverse;
}

@keyframes phoolRightAnime {
  to {
    transform: scale(1.1) translateX(90px);
  }
}

.btmartist {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 90%;
  left: 10%;
  z-index: 10;
  right: 10%;
  // height: 8vw;
  transition: 0.25s ease-in-out;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  padding: 2vw 2vw 0vw 2vw;
  .line {
    display: flex;
    background-color: none;
    align-items: center;
    margin-bottom: 2vw;
  }
}

.horline {
  background-color: rgba(237, 28, 36, 1);
  height: 0.25vw;
  border-radius: 31.64px;
  width: 47%;
}

.playline {
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
}

.ver {
  display: flex;
  margin-left: 23.2%;
  align-items: center;
  .verline {
    background-color: rgba(238, 238, 238, 1);
    height: 1.7vw;
    width: 0.15vw;
    border-radius: 5vw;
  }
}

.verrighttri {
  display: flex;
  align-items: center;
  .triright {
    width: 0;
    height: 0;
    border-top: 1vw solid transparent;
    border-left: 2vw solid rgba(238, 238, 238, 1);
    border-bottom: 1vw solid transparent;
    margin-right: 1%;
  }
}

.verline1 {
  background-color: rgba(238, 238, 238, 1);
  height: 1.7vw;
  width: 0.15vw;
  border-radius: 5vw;
}

.trileft {
  width: 0;
  height: 0;
  border-top: 1vw solid transparent;
  border-right: 2vw solid rgba(238, 238, 238, 1);
  border-bottom: 1vw solid transparent;
  margin-left: 1%;
}

.bigcircle {
  margin-left: 10%;
  margin-right: 10%;
  width: 3vw;
  border-radius: 50%;
  height: 3vw;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  .redrighttri {
    width: 0;
    height: 0;
    margin-left: 10%;
    border-top: 0.7vw solid transparent;
    border-left: 1.5vw solid rgba(176, 34, 39, 1);
    border-bottom: 0.7vw solid transparent;
  }
}

.circle {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.hrline {
  width: 50%;
  object-fit: contain;
  background-color: none;
}

@keyframes leftflwr {
  to {
    transform: scale(1.1) translateX(-90px);
  }
}

@keyframes rightflwr {
  to {
    transform: scale(1.1) translateX(+90px);
  }
}

.allpreviouscard {
  width: 85%;
  margin: 0vw auto 0vw auto;
  padding-bottom: 12vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.indicardpast {
  width: 40%;
  height: 42vw;
  // background: rgba(242, 238, 227, 1);
  border-radius: 0.225rem;
  flex: none;
  order: 1;
  margin-top: 8vw;
  margin-bottom: 8vw;
  cursor: pointer;
  position: relative;
}

.indicardpast:hover .topcardimg {
  top: -2.5%;
}

.indicardpast:hover .leftcardimg {
  left: -2.5%;
}

.indicardpast:hover .rightcardimg {
  right: -2.5%;
}

.indicardpast:hover .artistpic {
  transform: scale(1.05);
}

.indicard:hover .btmartist {
  transform: scale(1.05);
}

#left {
  transform: rotateY(180deg);
}

@keyframes moveBg {
  to {
    transform: scale(1.2);
  }
}

@keyframes moveDh {
  to {
    transform: rotate(20deg);
  }
}

@keyframes moveGm {
  to {
    transform: rotate(5deg);
  }
}

@keyframes movePepa {
  to {
    transform: rotate(20deg);
  }
}

#nobghead {
  background-image: none !important;
}

.cross {
  font-size: 100vw;
}

#whitehorline{
  background-color: rgba(239, 239, 239, 0.75) !important;
}

@media only screen and (max-width: 600px) {
  .artistsmain {
    padding-top: 30vw;
  }

  .main {
    width: 50px;
    height: 50px;
    left: 100px;

    .d {
      top: -46px;
      left: 12px;
      width: 54%;
    }

    .g {
      top: -74px;
      left: -18px;
      width: 131%;
    }

    .p {
      top: -106px;
    }
  }
}

@media only screen and (max-width: 660px) {
  .artistsmain {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .btmartist {
    padding: 5vw 5vw 0vw 5vw;
    .line {
      margin-bottom: 5vw;
    }
  }

  .horline {
    height: 0.6vw;
  }

  .circle {
    width: 2.5vw;
    height: 2.5vw;
  }

  .playline {
    margin-bottom: 5vw;
  }

  .ver {
    margin-left: 23.7%;
    .verline {
      height: 4vw;
      width: 0.5vw;
      border-radius: 10vw;
    }
  }

  .trileft {
    border-top: 2vw solid transparent;
    border-right: 4vw solid rgba(238, 238, 238, 1);
    border-bottom: 2vw solid transparent;
    margin-left: 2%;
  }

  .bigcircle {
    margin-left: 10%;
    margin-right: 10%;
    width: 7vw;
    height: 7vw;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    .redrighttri {
      border-top: 1.4vw solid transparent;
      border-left: 3vw solid rgba(176, 34, 39, 1);
      border-bottom: 1.4vw solid transparent;
    }
  }

  .verrighttri {
    .triright {
      border-top: 2vw solid transparent;
      border-left: 4vw solid rgba(238, 238, 238, 1);
      border-bottom: 2vw solid transparent;
      margin-right: 2%;
    }
  }

  .verline1 {
    background-color: rgba(238, 238, 238, 1);
    height: 4vw;
    width: 0.5vw;
    border-radius: 10vw;
  }

  .imgcross {
    width: 20%;
    object-fit: contain;
  }

  .btnleft {
    margin-left: 5%;
    text-align: left;
    margin-bottom: 5vw;
  }

  .aboutbha h3 {
    font-size: 4vw;
  }

  .allupcomingcard,
  .allpreviouscard {
    width: 100%;
    // margin: 4vw auto 12vw auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .indicard,
  .indicardpast {
    cursor: pointer;
    width: 80%;
    height: 85vw;
    margin: 20vw auto;
    // background: rgba(242, 238, 227, 1);
    border-radius: 0.225rem;
    flex: none;
    order: 1;
    position: relative;
  }

  .artistpic {
    border-top-right-radius: 6vw;
    border-top-left-radius: 6vw;
  }

  .artistname {
    font-size: 7vw;
  }

  .artistwork {
    margin-top: 2vw;
    h3 {
      font-size: 6vw;
    }
  }

  .artistdetail {
    margin: 10vw auto 0 auto !important;
    padding-bottom: 10vw !important;
  }

  #pastpptt {
    padding-top: 20vw !important;
  }

  .artistdetail h1 {
    font-size: 7vw;
  }

  // .artistsmain{
  //   display: none;
  // }
}
