:root{
    --speed : 2s;
}


.hero {
    position: relative;
    height: 100vh;
    // justify-content: center;
    overflow: hidden;
    overflow-y: visible;

    img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .sky {
        // height: 100%;
        // transform: scale(1.4rem);
    }

    .clouds {
        // transform: scale();
        width: 80%;
        min-width: 80%;
        min-height: 80%;
        animation: forwards var(--speed) clouds;
    }

    .hills {
        width: 110%;
        animation: forwards var(--speed) hills;
    }

    .posua {
        // img{
        //     transform: translateX(0px);
        //     left: 0px;
        //     z-index: 200;
        //     width: 100%;
        // }
        // transform: translateX(-63%) translateY(-18rem) scale(0.4);
        width: 10%;
        min-width: 30%;
        min-height: 10%;
        transform: scale(4.3) translateY(2rem);
        left: 35%;
        animation: forwards var(--speed) posua;
    }

    .pines {
        transform: translateX(-50%) translateY(-3rem);
        animation: forwards var(--speed) pines;
        
    }

    .layer4{
        width: 90%;
        transform: translateX(-50%) translateY(-20%);
        animation: forwards var(--speed) layer4;
    }
    
    .layer3{
        width: 100%;
        animation: forwards var(--speed) layer3;
        transform: translateX(-50%) translateY(-20%);
    }
    
    .layer2{
        animation: forwards var(--speed) layer2;
    }
    
    .layer1{
        animation: forwards var(--speed) layer1;
    }
    
    .bush{
        transform: translateX(-50%) translateY(20%);
    }
    
    .bushInverted{
        transform: translateX(-50%) translateY(80%) rotateX(180deg);
    }
    
    .whitishBush{
        transform: translateX(-50%) translateY(-3rem);
        animation: forwards var(--speed) whitishBush;
    }
}

@keyframes clouds {
    0% {
        transform: translateX(-50%) scale(100%);
    }
    
    100% {
        transform: translateX(-50%) scale(165%, 142%);
    }
}

@keyframes hills {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    
    100% {
        transform: translateX(-50%) translateY(5%);
    }
}

@keyframes pines {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    
    100% {
        transform: translateX(-50%) translateY(4%);
    }
}


@keyframes layer4 {
    0% {
        // transform: translateX(-50%) translateY(-20%);    
        width: 90%;
    }
    
    100% {
        // transform: translateX(-50%) translateY(-20%);            
        width: 120%;
    }
}
@keyframes layer3 {
    0% {
        // transform: translateX(-50%) translateY(4%);
        transform: translateX(-50%) translateY(-18%);
        width: 100%;
    }
    
    100% {
        width: 120%;
        transform: translateX(-50%) translateY(-20%);
    }
}

@keyframes layer2 {
    0% {
        transform: translateX(-50%) translateY(-10%);
        // transform: translateX(-50%) translateY(4%);
        // transform: translateX(-50%) translateY(-18%);
        // width: 100%;
    }
    
    100% {
        transform: translateX(-50%) translateY(-18%);
        // width: 120%;
        // transform: translateX(-50%) translateY(-20%);
    }
}

@keyframes layer1 {
    0% {
        width: 100%;
        transform: translateX(-60%) translateY(-20%);
        // transform: translateX(-50%) translateY(-10%);
        // transform: translateX(-50%) translateY(4%);
        // transform: translateX(-50%) translateY(-18%);
        // width: 100%;
    }
    
    100% {
        width: 120%;
        transform: translateX(-60%) translateY(-20%);
        // transform: translateX(-50%) translateY(-18%);
        // width: 120%;
        // transform: translateX(-50%) translateY(-20%);
    }
}

@keyframes posua {
    0% {
        transform: scale(2.3) translateY(8rem);
    }
    
    100% {
        // transform: translateX(-63%) translateY(-18rem);
        transform: scale(4.3) translateY(2rem);
    }
}

@keyframes whitishBush {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }

    100% {
        transform: translateX(-50%) translateY(-2%);
    }
}