.imgslider {
    margin-inline: 2.5vw;
    padding-bottom: 6rem;
  
    .Designation {
      margin-bottom: 1.6rem;
      text-align: center;
      font-size: 3.6rem;
      background-image: linear-gradient(90deg, #371000 14.1%, #ffbf2a 82.1%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Philosopher";
      font-weight: 700;
    }
    .sliderDiv {
      outline: none;
      position: relative;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-left: 0.5em;
      margin-right: 0.5em;
      &:hover {
        .Card {
          width: 26rem;
        }
        .TextForRotation {
          opacity: 1;
        }
        .Images {
          transform: scale(1.05);
        }
      }
      .Card {
        width: 26rem;
      }
      .TextForRotation {
        opacity: 1;
      }
      .Images {
        transform: scale(1.05);
      }
    }
    .Card {
      transition: all 1s ease-in-out;
      width: 400px;
      height: 35rem;
    }
    .Images {
      width: 270px;
      position: absolute;
      top: 16%;
      transition: all 1s ease-in-out;
    }
    .TextForRotation {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      position: absolute;
      bottom: 0.5rem;
      opacity: 0;
      transition: all 600ms ease-in-out;
    }
  }


@media only screen and (max-width: 450px) {
  .Card {
    width: 300px !important;
    height: 28rem !important;
  }
  .Images {
    width: 200px !important;
  }
  .TextForRotation {
    opacity: 1 !important;
  }
  .Designation {
    font-size: 3rem !important;
  }
}

// @media only screen and (max-width: 420px) {

// }

// @media only screen and (max-width: 360px) {
//   .Images {
//     left: 17.5% !important;
//   }
// }
