.containerTeam {
  // background-image: url("../../Assets/texture.png");
  background-image: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1677668803/posua/bg-artists_tpba1w.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
