@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
// This is a part of Template
.home {
  // height: 100vh;
  background-image: url(https://res.cloudinary.com/dp92qug2f/image/upload/v1677668803/posua/bg-artists_tpba1w.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  .hero_enclose{
    height: 110vh;
    // overflow: hidden;
  }
  h1 {
    font-weight: bold;
  }
}
