@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

.footer {
  background-image: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1677669056/posua/footer_hkjaxr.png");
  padding-top: 2.5vw;
  padding-bottom: 2.55vw;
  background-size: cover;
  display: flex;

  .container {
    width: 90%;
    margin: auto;
    padding: 3rem 0px;
    display: flex;

    ul {
      margin: 0px auto;
      list-style: none;
      color: white;
      text-align: center;
      max-width: 230px;
      li {
        font-family: "philosopher" !important;
        line-height: 1.4rem;
        font-size: 1.1rem;
        a {
          text-decoration: none;
          color: white;
        }
      }

      .headings {
        font-size: 1.8rem;
        position: relative;
        width: fit-content;
        margin: 1.7rem auto;
      }
      .headings::after {
        content: "";
        width: 110%;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -12px;
        background-color: white;
      }
    }
  }
}

.linksmedia a {
  transition: all 0.25s ease !important;
}

.linksmedia:hover a {
  color: #fd4a50 !important;
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    .container {
      width: 100%;
      flex-direction: column;
      ul {
        margin-top: 2vw;
        margin-bottom: 2vw;
      }
    }
  }
}
