@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

.footer {
  background-image: url("../../Assets/footer.png");
  height: 50vh;
  background-size: cover;
  display: flex;

  .container {
    width: 90%;
    margin: auto;
    padding: 3rem 0px;
    display: flex;

    ul {
      margin: 0px auto;
      list-style: none;
      color: white;
      text-align: center;
      max-width: 230px;
      li {
        font-family: "philosopher" !important;
        line-height: 1.4rem;
        font-size: 1.1rem;
      }

      .headings {
        font-size: 1.8rem;
        position: relative;
        width: fit-content;
        margin: 1.7rem auto;
      }
      .headings::after {
        content: "";
        width: 110%;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -12px;
        background-color: white;
      }
    }
  }
}
