.containerMember {
  margin-left: 10em;
  margin-right: 10em;
  // position: relative;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 0em;
  margin: auto;
  justify-items: center;
  position: relative;
}

@media (max-width: 420px) {
  .containerMember {
    margin-left: 0;
    margin-right: 0;
  }
}
