#satyik_da {
  grid-column-start: 1;
  grid-column-end: 3;
}

.memEven {
  grid-column-start: 1;
  grid-column-end: 2;
}
.memOdd {
  grid-column-start: 2;
  grid-column-end: 3;
}

.containerMemStructure {
  display: flex;
  position: relative;
  overflow: hidden;

  .teamMemberGrid {
    align-items: center;
    // position: relative;
    overflow: hidden;
    height: 580px;
  }

  .imageHoldingWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    // position: absolute;

    .emptyColoredDiv {
      background-color: red;
      border-radius: 50%;
      width: 19.4em;
      height: 19.2em;
      justify-content: center;
      text-align: center;
      img {
        position: relative;
        border-radius: 50%;
        width: 91.7%;
        height: 90.5%;
        object-fit: cover;
        top: 12px;
      }
    }
  }

  .LottiesSVG {
    position: relative;
    bottom: 318px;
  }

  .gamusa {
    text-align: center;
    justify-content: center;
    position: relative;
    bottom: 360px;

    .gamusaImg {
      transform: rotate(0.5deg);
    }

    .gamusaWriting {
      position: relative;
      bottom: 5.2rem;
      line-height: 1.25rem;
      font-weight: 600;
      font-family: var(--posua-font-1), sans-serif;
    }
  }
}

@media (max-width: 460px) {
  .memEven {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .memOdd {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .containerMemStructure {
    margin-top: -6rem;
  }
  .teamMemberGrid {
    transform: scale(0.8);
    // position: relative;
    // right: 60px;
  }
  .imageHoldingWrapper {
    justify-content: left;
    overflow: hidden;
  }
  // .LottiesSVG{
  //   transform: scale(0.8);
  // }
}
