.containerMember {
  margin-left: 10em;
  margin-right: 10em;
  // position: relative;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  gap: 0em;
  margin: auto;
  justify-items: center;
  position: relative;
}

@media (max-width: 430px) {
  .containerMember {
    margin-left: 0;
    margin-right: 0;
  }
  .wrapper {
    justify-content: center;
    justify-items: center;
    padding-top: 3rem;
  }
}
