.Designation {
  margin-bottom: 1.6rem;
  text-align: center;
  font-size: 3.6rem;
  background-image: linear-gradient(90deg, #371000 14.1%, #ffbf2a 82.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Philosopher";
  font-weight: 700;
}

.containerMember {
  margin-left: 10em;
  margin-right: 10em;
  // position: relative;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  gap: 0em;
  margin: auto;
  justify-items: center;
  position: relative;
}

@media (max-width: 420px) {
  .containerMember {
    margin-left: 0;
    margin-right: 0;
  }
  .wrapper {
    justify-content: center;
    justify-items: center;
  }
}
