@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --posua-font-1: "Philosopher", sans-serif;

  --posua-bg-1: #fcebd1;

  --heading-1-text-weight: 600;
  --heading-2-text-weight: 500;
  --paragraph-1-text-weight: 400;
  --paragraph-2-text-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--posua-font-1);
}
