.containerTeamWordMukha {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top: 4rem;
}

.containerflower {
  display: flex;
  justify-content: space-between;
  overflow: hidden;


  .flower2 {
    transform: rotateY(180deg);
    transform: scale(1);
    width: 2rem;
    animation: move1 6s ease-in-out infinite;
    position: relative;
    right: 3rem;
    // overflow: hidden;
    // justify-self: flex-start;
  }

  .flower {
    justify-self: flex-end;
    // overflow: hidden;
    position: relative;
    left: 3rem;
    animation: move2 6s ease-in-out infinite;
  }
}

.WordingTeamPosua {
  h1 {
    display: flex;

    font-size: 5.2vw;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    background-image: linear-gradient(90deg, #371000 0.1%, #f3b526 90.1%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    padding-top: 6rem;
    font-family: "Philosopher", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    text-align: center;

    color: #2e1300;
  }
}

.WordingMukha2 {
  transform: scaleX(-1);
}

// .containerflower {
//   display: flex;
//   justify-content: space-evenly;
// }

@keyframes move1 {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3rem);
  }
}

@keyframes move2 {
  0%,
  100% {
    transform: translateX(0) rotateY(180deg);
  }
  50% {
    transform: translateX(-3rem) rotateY(180deg);
  }
}

@media only screen and (max-width: 1196px) {
  .containerflower {
    display: none;
  }
}

@media only screen and (max-width: 412px) {
  .containerTeamWordMukha {
    margin-inline: 0.5em;
    padding-bottom: 5em;

    .WordingMukha1 {
      display: none;
    }
    .WordingMukha1 h1 {
      text-align: center;
    }
    .WordingMukha2 {
      display: none;
    }
    .WordingTeamPosua > p {
      font-size: 1.2rem;
      top: 106px;
    }
    .Heading {
      font-size: 2.7rem;
    }
  }
}
