.containerTeamWordMukha {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top: 4rem;
}

.containerflower {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.WordingTeamPosua {
  h1 {
    font-family: "Philosopher", sans-serif;

    background: -webkit-linear-gradient(360deg, #411400 35.1%, #ffb70f 100.1%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
  }
  p {
    padding-top: 6rem;
    font-family: "Philosopher", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    text-align: center;

    color: #2e1300;
  }
}

.WordingMukha2 {
  transform: scaleX(-1);
}

// .containerflower {
//   display: flex;
//   justify-content: space-evenly;
// }
.flower2 {
  inset-inline: 14.8rem;
  transform: scale(-1);
  transform: rotateY(180deg);
}

.flower {
  inset-inline: -14.8rem;
}

@media only screen and (max-width: 400px) {
  .WordingMukha1 {
    display: none;
  }
  .WordingMukha2 {
    display: none;
  }
  .WordingTeamPosua {
    display: flex;
    text-align: center;
  }
  .h1 {
    display: flex;
  }
  .containerTeamWordMukha {
    display: flex;
  }

  .p {
    top: -106px;
  }
}
